.MyButton {
    padding: 20px 20px;
    margin: 5px;
    color: black;
    background: skyblue;
    font-size: large;
    font-weight: 300;
    border-radius: 30%;
}

.MyButton:hover {
    font-weight: bold;
    border-radius: 70%;
    box-shadow: 10px 10px 10px blueviolet;
}


.clicked {
    box-shadow: 5px 5px 5px grey !important;
}